<mat-card>
    <mat-accordion multi="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div class="mat-h1">Pregled zemalja ucesnica</div>
            </mat-expansion-panel-header>
            <table id="tabela">
                <th></th>
                <th>Naziv zemlje</th>
                <th>Broj sportista</th>
                <tr *ngFor="let z of zemlje">
                    <td><img class="slika" src="../assets/{{z.naziv}}.png" width="30px" height="18px"></td>
                    <td style="text-align: center;">{{z.naziv}}</td>
                    <td style="text-align: center;">{{z.sportisti}}</td>
                </tr>
            </table>  
            <mat-paginator [pageSizeOptions]="velicineStranica" [length]="brojDrzava" [pageSize]="drzaveNaStranici" (page)="sledecaStrana($event)"></mat-paginator>         
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion multi="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div class="mat-h1">Pregled medalja po zemaljama</div>
            </mat-expansion-panel-header>
            <table id="tabela">
                <th>Rang</th>
                <th>Naziv zemlje</th>
                <th>Zlato</th>
                <th>Srebro</th>
                <th>Bronza</th>
                <th>Ukupno</th>
                <tr *ngFor="let z of zemlje1; let i = index">
                    <td>{{i+1}}</td>
                    <td style="text-align: center;">{{z.naziv}}</td>
                    <td style="text-align: center;">{{z.zlato}}</td>
                    <td style="text-align: center;">{{z.srebro}}</td>
                    <td style="text-align: center;">{{z.bronza}}</td>
                    <td style="text-align: center;">{{z.ukupno}}</td>
                </tr>
            </table>   
            <mat-paginator  [pageSizeOptions]="velicineStranica"  [length]="brojDrzava" [pageSize]="drzaveNaStranici" (page)="sledecaStrana1($event)"></mat-paginator>          
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion multi="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div class="mat-h1">Pretraga sportista</div>
            </mat-expansion-panel-header>
            <form>
                <table>
                    <tr>
                        <td class="mat-body-2">Ime:</td> 
                        <mat-form-field>
                            <td><input matInput type="text" name="imeSportiste" [(ngModel)]='imePretraga'></td>
                        </mat-form-field>
                    </tr>
                    <tr>
                        <td class="mat-body-2">Prezime:</td> 
                        <mat-form-field>
                            <td><input matInput type="text" name="prezimeSportiste" [(ngModel)]='prezimePretraga'></td>
                        </mat-form-field>
                    </tr>
                    <tr>
                        <td class="mat-body-2">Drzava:</td>
                        <mat-form-field>
                            <td><mat-select matInput name="zemlje" [(ngModel)]='zemljaPretraga'>
                                <mat-option *ngFor='let z of sveZemlje' value="{{z.naziv}}" >{{z.naziv}}</mat-option>
                                <mat-option value="" >Sve drzave</mat-option>
                            </mat-select></td>
                        </mat-form-field>  
                    </tr>
                    <tr>
                        <td class="mat-body-2">Sport:</td>
                        <mat-form-field>
                            <td><mat-select matInput name="sportovi" [(ngModel)]='sportPretraga'>
                                <mat-option *ngFor='let s of sportovi' value="{{s.naziv}}"  >{{s.naziv}}</mat-option>
                                <mat-option value="" >Svi sportovi</mat-option>
                            </mat-select></td>
                        </mat-form-field>
                    </tr>
                    <tr>
                        <td colspan="2"><button class="dugme" mat-raised-button color="accent" (click)="pretraga()">Pretraga</button></td>
                    </tr>
                </table>
            </form>
            
            <table id="tabela">
                <th>Ime</th>
                <th>Prezime</th>
                <th>Zemlja</th>
                <th>Disciplina</th>
                <tr *ngFor='let p of pretrazeni'>
                    <td>{{p.ime}}</td>
                    <td>{{p.prezime}}</td>
                    <td>{{p.drzava}}</td>
                    <td>{{p.disciplina}}</td>
                </tr>
            </table>       
        </mat-expansion-panel>
    </mat-accordion>

    <table>
        <tr>
            <td><button style="width: 68%;" class="dugme" mat-raised-button color="accent" routerLink="/">Pocetna</button></td>
        </tr>
    </table>
</mat-card>




<!-- <table>
    <th></th>
    <th>Naziv zemlje</th>
    <th>Broj sportista</th>
    <tr *ngFor="let z of zemlje">
        <td><img src="../assets/{{z.naziv}}.png" width="30px" height="18px"></td>
        <td style="text-align: center;">{{z.naziv}}</td>
        <td style="text-align: center;">{{z.sportisti}}</td>
    </tr>
</table> -->

<!-- <table>
    <th>Rang</th>
    <th>Naziv zemlje</th>
    <th>Zlato</th>
    <th>Srebro</th>
    <th>Bronza</th>
    <th>Ukupno</th>
    <tr *ngFor="let z of zemlje; let i = index">
        <td>{{i+1}}</td>
        <td style="text-align: center;">{{z.naziv}}</td>
        <td style="text-align: center;">{{z.zlato}}</td>
        <td style="text-align: center;">{{z.srebro}}</td>
        <td style="text-align: center;">{{z.bronza}}</td>
        <td style="text-align: center;">{{z.ukupno}}</td>
    </tr>
</table> -->

<!-- <form>
    <table>
        <tr>
            <td>Ime:</td>
            <td><input type="text" name="imeSportiste" [(ngModel)]='imePretraga'></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><input type="text" name="prezimeSportiste" [(ngModel)]='prezimePretraga'></td>
        </tr>
        <tr>
            <td><select name="zemlje" [(ngModel)]='zemljaPretraga'>
                <option *ngFor='let z of zemlje' value="{{z.naziv}}" >{{z.naziv}}</option>
            </select></td>
        </tr>
        <tr>
            <td><select name="sportovi" [(ngModel)]='sportPretraga'>
                <option *ngFor='let s of sportovi' value="{{s.naziv}}"  >{{s.naziv}}</option>
            </select></td>
        </tr>
        <tr>
            <td>
                <button (click)='pretraga()'>Pretraga</button>
            </td>
        </tr>
    </table>
</form>

<table>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Zemlja</th>
    <th>Sport</th>
    <tr *ngFor='let p of pretrazeni'>{{p.ime}}</tr>
</table> -->